$colour-white:#FFFFFF;
$colour-pink:#C32C72;
$colour-regular:#F4F3EE;
$colour-text:#6A6A6A;
$colour-navtext:#8D8D8D;
$colour-background:#E2E2E2;
$colour-shade:#E5E5E5;
$breakpoint-mobiledevice: 1000px;